<li data-controller="task" class="py-2 px-4 w-full rounded-t-lg border-b border-gray-200 justify-between flex">
  <div class="custom-control custom-checkbox <%= 'line-through' if task.complete? %>">
    <input type="checkbox" class="custom-control-input" id="<%= dom_id(task) %>" data-id="<%= task.id %>" data-reflex="change->TaskReflex#toggle_completed" <%= 'checked' if task.complete? %>>
    <label for="<%= dom_id(task) %>" class="custom-control-label"><%= task.name %></label>
  </div>
  <div>
    <a href="#" data-id="<%= task.id %>" data-action="click->task#destroy">
      <svg class="w-6 h-6" fill="none" stroke="red" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
    </a>
  </div>
</li>